.SpeciesInfo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--secondary-background-color);
  padding: 1rem;
  border-radius: 0.25rem;
  flex-grow: 3;
  gap: 1rem;
}
.basicInfo{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-direction: column;
}